p, h1, h2 {
  font-family: 'Questrial', sans-serif;
  color: #5A6275;
}
.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(253deg, rgba(2,0,36,1) 0%, rgba(2,32,60,1) 65%, rgba(0,73,129,0.8435749299719888) 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar img {
  max-height: 150px;
}

.nav-bar button {
  background-color: #02203c00;
  height: 80%;
  margin-left: 10px;
  width: fit-content;
  color: white;
  border-style: none;
  font-size: 20px;
}

.nav-bar button:hover {
  background-color: #27276950;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 70px;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 31%;
  background-color:#f2f5f8;
}

.left header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0px;
  background-color: #DE023C;
  border-bottom: solid 10px #FFC000;
}

.left header h1 {
  top: 40px;
  left: 20px;
  font-size: 40px;
  color: whitesmoke;
  margin: 0px 0px 0px 25px;
  font-family: 'Bebas Neue', cursive;
}

.article-list {
  position: relative;
  top: 30px;
  margin: 20px;
}

.article.summary {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FBFBFB;
}

.article.summary:hover {
  background-color: #a4cef58c;
}

.article.summary h2 {
  margin: 0 auto;
}

.article.summary img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.right {
  right: 0;
  width: 69%;
  background-color: #FBFBFB;
  border-left: #D8DBDF 2px solid;
  padding-top: 0;
}

.no-article-selected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-article-selected img {
  width: 150px;
  border-radius: 50%;
}

.read-article {
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 80%;
  background-color: #F5F5F5;
  color: white;
  height: 100%;
}

.read-article article {
  padding: 20px;
  padding-left: 0;
  
}

.read-article img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.read-article h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
  color: whitesmoke;
}

.black-box {
  width: 100%;
  background-color: black;
  padding: 10px 10px 30px 10px;
}
/*position: absolute;
  top: 5%;
  left: 5%;
*/